DO
$$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'DB_USER_PLACEHOLDER') THEN
        CREATE ROLE DB_USER_PLACEHOLDER WITH LOGIN PASSWORD 'DB_PASSWORD_PLACEHOLDER';
    END IF;
END
$$;

DO
$$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_database WHERE datname = 'DB_NAME_PLACEHOLDER') THEN
        CREATE DATABASE DB_NAME_PLACEHOLDER WITH OWNER DB_USER_PLACEHOLDER;
    END IF;
END
$$;

\c DB_NAME_PLACEHOLDER


