@import '../../variables.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-svg {
  width: 50px;
  height: auto;
  margin-right: 10px;
  transition: fill 0.3s ease;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo-container:hover .logo-text {
  color: var(--color-primary);
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
  border-radius: 5px;
  z-index: 1001;
  box-shadow: 0 4px 6px var(--color-background-light);
  padding: 0 1px;
}

.nav a {
  text-decoration: none;
  color: var(--color-white);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 2px 1px;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: var(--color-primary);
}

.nav .active {
  background-color: var(--color-primary);
}

.connect-container {
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}

.connect-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.connect-button:hover {
  background-color: var(--color-primary-hover);
}

.disconnect-button {
  background-color: var(--color-danger);
  color: var(--color-white);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.disconnect-button:hover {
  background-color: var(--color-danger-hover);
}

.bm-burger-button {
  display: none;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
  width: 100%;
  text-align: center;
}

.bm-item {
  display: block;
  padding: 0.5em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.bm-item:hover {
  background-color: var(--color-primary);
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }

  .connect-container {
    display: none;
  }

  .burger-menu {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}
