.PrivacyPage {
    background-color: var(--color-background);
    color: var(--color-text);
  }
    .privacy-content{
        padding: 20px 10%;

    }
  .privacy-content h1,
  .privacy-content h2 {
    color: var(--color-primary);
  }

  .privacy-content p,
  .privacy-content ul {
    line-height: 1.6;
  }

  .privacy-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
