.TermsPage {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  .terms-content{
    padding: 20px 10%;

}

  .terms-content h1,
  .terms-content h2 {
    color: var(--color-primary);
  }

  .terms-content p,
  .terms-content ul {
    line-height: 1.6;
  }

  .terms-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
