@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fffef8;
}

.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}